body {
    display: flex;
    background: #0f0f0f;
    color: #fff;
    font-family: Arial;
}

.sidebar {
    width: 240px;
    background: #141414;
    padding: 20px;
}

.sidebar h2 {
    color: red;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #222;
}

.main {
    padding: 30px;
    flex: 1;
}

.card {
    background: #1f1f1f;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}
