body {
    display: flex;
    background: #0f0f0f;
    color: #fff;
    font-family: Arial;
}

.sidebar {
    width: 240px;
    background: #141414;
    padding: 20px;
}

.sidebar h2 {
    color: red;
}

.sidebar li {
    padding: 12px;
    cursor: pointer;
}

.sidebar li:hover {
    background: #222;
}

.main {
    padding: 30px;
    flex: 1;
}

.card {
    background: #1f1f1f;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

.dashboard-container {
  padding: 20px;
}

.dashboard-header {
  margin-bottom: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  background: #111;
  color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat-card i {
  font-size: 28px;
  color: #ff4c4c;
}

.stat-card h3 {
  margin: 0;
  font-size: 26px;
}

.card-box {
  background: #111;
  padding: 20px;
  border-radius: 12px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-link {
  color: #ff4c4c;
  text-decoration: none;
}

.data-table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 10px;
  border-bottom: 1px solid #222;
  color: #ddd;
}

/*movie css*/
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
}

.modal-content {
    background: #1f1f1f;
    width: 300px;
    margin: 10% auto;
    padding: 20px;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}
